section{
    display: flex;
    flex-direction: row;
    margin:0 0 0 3.4%;              /*overriding value of section from main.css*/
}
.section_title{
    font-size: 30px;
    color: white;
    padding:15px;               /*title of a section ,here title of collection of news*/
    position: sticky;
    left: 0;
}
.row_section{
    width:100%;
    height:auto;
    display: flex;              /*container for title and collection of news*/
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 0;

    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}
#next_row_section{          /*division for the second news ie news at the right part of desktop*/
    width: 50%;
    padding: 0 15px;
}
#rowOne{
    padding-left:15px;      /*first collection of news*/
}
.main_row_section{
    display: flex;
    width:100%;
    flex-direction: column;         /*container of news*/
    flex-wrap: nowrap;
}
.news_image{
    height:auto;
    width:100%;
    border-radius: 8px 8px 0 0;         /*image of the news*/
}
.news_outline{
    padding:0;
    width:100%;
    margin-top:20px;
    transition-duration: 1s;                /*container for image of news and outline of news*/
    transition-timing-function: ease-in;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 5px 15px black;
    

}
.news_outline a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;          /*link placed at the outlline of news*/
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.news_outline:hover .news_title{
    color: red;                 /*action at the title of news on hovering over news outline*/
}
.news_title{
    font-size: 20px;
    padding:10px;               /*title of a specific news*/
    overflow:hidden;
}
@media only screen and (max-width:600px){       /*adjusting content for width less than 600px*/
    section{
        display: flex;
        flex-direction: column;
        margin:0;
    }
    #rowOne{
        margin:0;
        padding: 0;
    }
    #next_row_section{
        width: 100%;
        padding: 0;
    }
    .main_row_section{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .news_outline{
        width: 100%;
        padding: 0;
        margin: 0 0 15px 0;
        border-radius:0px;
    }
    .news_image{
        width: 100%;
        height: auto;
        border-radius: 0px;
    }
    .row_section{
        padding: 0;
        height: auto;
        margin: 0;
        width: 100%;
    }
    .news_outline{
        padding: 0;
    }
    .news_image:hover{
        height:auto;
    }
}