header{
    font-size:30px;
    letter-spacing: 0;          /*overriding header section from main.css*/
    font-style: normal;
}
section{
    margin:-350px 15% 0 15%;        /*overriding section from main.css*/
}
#summary{
    width:200px;
    display: flex;                  /*container of links to the video place in page at right side of screen*/
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 3;
    left:100%;
    background-color: rgb(22, 21, 21);

}
#summary a{
    padding: 15px;
    text-decoration: none;          /*link to the video place in same page*/
    color: white;
}
#summary a:hover{                   /*condition while hovering over the respective link*/
    background-color: red;
    color: white;
}
.video_frame{
    width:100%;
    height: 100%;
    background-color: white;            /*container for iframe and title of iframe*/
    margin-bottom: 30px;
    border-radius:8px;
}
.video{
    width: 100%;                /*iframe of the video*/
    height: 600px;
    border-radius:8px 8px 0 0;
}
.video_title{
    font-size: 20px;
    padding: 15px;              /*title of the video*/
}
@media only screen and (max-width:1300px){      /*conndition when screen width is less than 1300px*/
    section{
        display: flex;
        flex-direction: column;
        margin:50px 0 0 0;
    }
    #summary{
        width:100%;
        display: flex;
        flex-direction: column;
        position: static;
    }
    .video{
        width: 100%;
        height: 80vw;
        border-radius: 0px;
    }
    .video_frame{
        border-radius: 0px;
    }
}