section{
    display: flex;
    flex-direction: column;
    margin:0 25% 0 25%;
}
#summary{
    width:150px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 3;
    left:100%;
    background-color: rgb(196, 191, 191);
}
#summary a{
    padding: 15px;
    text-decoration: none;
    color: black;
}
#summary a:hover{
    background-color: red;
    color: white;
}
.section_title{
    font-size: 30px;
    color: red;
    padding:15px;
    position: sticky;
    left: 0;
}
#rowOne{
    margin-top:-150px;
}
.row_section{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 0;

    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}
.main_row_section{
    display: flex;
    width:100%;
    flex-direction: column;
    flex-wrap: nowrap;
}
.news_image{
    height:auto;
    width:100%;
}
.news_outline{
    padding:0;
    width:100%;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    

}
.news_outline a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.news_outline:hover .news_title{
    color: red;
}
.news_title{
    font-size: 20px;
    padding:10px;
    overflow:hidden;
}
@media only screen and (max-width:450px){
    section{
        display: flex;
        flex-direction: column;
        margin:0;
    }
    #summary{
        width:100%;
        display: flex;
        flex-direction: column;
        position: static;
    }
    #rowOne{
        margin:0;
    }
    .main_row_section{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .news_outline{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .news_image{
        width: 100%;
        height: auto;
    }
    .row_section{
        padding: 0;
        height: auto;
        margin: 0;
        width: 100%;
    }
    .news_outline{
        padding: 0;
    }
    .news_image:hover{
        height:auto;
    }
}